<div class="task-input">
  <%= form_for Task.new do |f| %>
    <%= f.text_field :name %>
    <%= f.submit :create %>
  <% end %>
</div>

<script>
$(document).on('turbolinks:load', function() {
  $('.edit_task input[type=checkbox]').on('change', function(e) {
    $(e.target).closest('form').submit();
  });
});

</script>

<% @tasks.each do |task| %>
<div class="task-card">
  <div class="task-status">
    <%= form_for task do |f| %>
      <%= f.check_box :done %>
    <% end %>
  </div>
  <div class="task-name">
    <h3><%= task.name %></h3>
  </div>
  <div class="task-actions">
    <i class="fa fa-trash"></i>
  </div>
</div>
<% end %>